.asana_count {
    display: block;
    float: left;
    min-width: 50px;
    width: 50px;
    text-align: center;
}
.asana_text {
    display: block;
    padding-left: 50px;
}
.asana_count_header {
    display: block;
    float: left;
    min-width: 50px;
    width: 50px;
    font-weight: bold;
}
.asana_text_header {
    display: block;
    font-weight: bold;
}