.dropdown {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    left: 100%;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    transform: translateX(-100%);
}

.dropdown--actions {
    border-radius: 3px;
    margin-right: 0.5rem;
    margin-top: 1rem;
    background: white;
    opacity: 0;
    transition: all 250ms ease;
    transform-origin: top right;
    transform: scale(0);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.dropdown__active > .dropdown--actions {
    opacity: 1;
    transform: scale(1);
}

.dropdown__active {
    pointer-events: all;
}

.dropdown--action {
    padding: 0.5rem 1rem;
    color: black;
    font-size: 1rem;
    white-space: nowrap;
}

.dropdown--action:hover {
    background: rgba(0, 0, 0, 0.1);
}

.dropdown--action:active {
    background: rgba(0, 0, 0, 0.2);
}