@import "./vars.scss";

.main {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    left: 100%;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    transform: translateX(-100%);
}

.actions {
    border-radius: 3px;
    margin-right: 0.5rem;
    margin-top: 1rem;
    background: $white;
    opacity: 0;
    transition: all 250ms ease;
    transform-origin: top right;
    transform: scale(0);
    box-shadow: $card1;
}

.main.active > .actions {
    opacity: 1;
    transform: scale(1);
}

.main.active {
    pointer-events: all;
}

.action {
    padding: 0.5rem 1rem;
    color: $black;
    font-size: 1rem;
    white-space: nowrap;
}

.action:hover {
    background: $gray-hover;
}

.action:active {
    background: $gray-active;
}
