@import './vars.scss';

.main {
    display: flex;
    flex-direction: column;
    border-bottom: $border-solid;
}

.main .header { display: flex; }

.main .header > * { border-right: $border-solid; }
.main .header > *:last-child { border-right: none; }

.main .header .opener i { transition: transform 125ms ease; }

.main .header .text {
    padding: 1rem;
    flex: 1;
}

.main .header .action {
    color: $danger;
    padding: 1rem;
    min-width: 1rem;
    max-width: 1rem;
    display: flex;
    justify-content: center;
}

.main .content {
    visibility: hidden;
    height: 0;
    border-top: $border-solid;
}

.main.open .header .opener i { transform: rotate(180deg); }

.main.open .content {
    visibility: visible;
    height: auto;
}

.main:not(.open) .content { border-width: 0; }

.clickable {
    cursor: pointer;
    transition: background 100ms ease;
}

.clickable:hover { background: $gray-hover; }
.clickable:active { background: $gray-active; }
