@import './vars.scss';

.entry {
    display: flex;
    flex-direction: column;
    border-bottom: $border-solid;
}

.entry--open > i {
    transition: transform 125ms ease;

}

.entry.entry__open > .entry--main > .entry--open > i {
    transform: rotate(180deg);
}

.entry--content {
    visibility: hidden;
    height: 0;
}

.entry-asana--steps {
    font-size: 0.75rem;
    color: $offblack;
}

.entry-asana--step {
    display: flex;
    border-bottom: $border-dashed;
    padding: 0.25rem;
}

.entry-asana--step:last-child {
    border-bottom: none;
}

.entry-asana--step--icon,
.entry-asana--step--count {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    padding-right: 0.5rem;
}

.entry.entry__open > .entry--content {
    visibility: visible;
    height: auto;
}

.entry:not(.entry__open) > .entry--content {
    border-width: 0;
}

.entry--main {
    display: flex;
    //border-right: $border-solid;
}

.entry--main > * {
    border-right: $border-solid;
}

.entry--content {
    border-top: $border-solid;
}

.entry--text {
    padding: 1rem;
    flex: 1;
}

.entry--main > *:last-child {
    border-right: none;
}

.entry--text__action {
    cursor: pointer;
}

.entry--action {
    color: $danger;
    padding: 1rem;
    min-width: 1rem;
    max-width: 1rem;
    display: flex;
    justify-content: center;
}

.entry--action__action {
    cursor: pointer;
}

.entry--asana-count {
    padding: 1rem;
    color: $gray;
}

.entry--asana-count__nonzero {
    color: $indigo; 
}

.entry--text__action,
.entry--action__action {
    transition: background 100ms ease;
}

.entry--text__action:hover, 
.entry--action__action:hover {
    background: $gray-hover;
}

.entry--text__action:active,
.entry-action__action:active {
    background: $gray-active;
}