@import "./vars.scss";

.tabs {
    justify-content: stretch;
    align-items: stretch;
    font-size: 1rem;
}

.tabs--tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.tabs--tab:hover {
    background: $gray-hover;
}

.tabs--tab:active {
    background: $gray-active;
}

.tabs--tab__active {
    color: $white;
}

.tabs--tab__inactive {
    color: $offwhite;
}
