#breathProgress {
    width: 100%;
    height: 30px;
    background-color: #ddd;
}
  
#breathBar {
    background-color: #4CAF50;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    /* the following line drives hardware acceleration */
    will-change: transform;  
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transform-origin: left center;
}

#breathProgressCircle {
    width: 300px;
    height: 300px;
    text-align: center;
    background-color: #ddd;
    /* vertical-align: center; */
    /* background-color: #ddd; */
}

#breathCircle {
    height: 100%;
    width: 100%;
    background-color: #4CAF50;
    border-radius: 50%;
    /* display:    inline-block; */
    transform: scale3d(0, 0, 1);
    /* the following line drives hardware acceleration */
    will-change: transform;  
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transform-origin: center;
}

@keyframes inhale {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes exhale {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}

@keyframes inhaleCircle {
    0% {
        transform: scale3d(0, 0, 1);
    }
    100% {
        transform: scaleX(1, 1, 1);
    }
}

@keyframes exhaleCircle {
    0% {
        transform: scale3d(1, 1, 1);
    }
    100% {
        transform: scaleX(0, 0, 1);
    }
}