.sss
{
padding:5px; 
border: 2px double black;
font-family: Tahoma;
font-size:12pt;
color:black;


text-align:center;
}
/* sss design-sites.ru link */
.red {color:red;}
.green {color:green;}
ul.menunav li{padding:0 5px 0 5px; list-style-type:none;} 

input.punbtn {width:2em;}

* {
	margin: 0;
	padding: 0;
	font-size: 1em; 
}

#spinp {padding: 0 0 0 0;}

p.last {padding: 0 0 30px 0;}

.botspace {margin-bottom:10px;}

h1 { font:normal 2.5em "Trebuchet MS", Arial, san-serif;  margin:0 0 0.6em 0; }
h2 { font:normal 1.4em "Trebuchet MS", Arial, san-serif; margin:0.9em 0; }


html {
	height: 100%;
}
body {
	/* font: 12px/18px Arial, Tahoma, Verdana, sans-serif; */
	background: #EFE8DF;
	height: 100%;
}

a {
	color: #604628; 
	outline: none;
	}
img {
	border: none;
}
/*
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
*/
#wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
		
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 0px;

}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	padding: 0 0 100px;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
		
}
#content {
	padding: 0 270px 0 0;
	margin: 0 0 0 20px; 
	
}

#docel {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		 box-sizing: border-box;
}


/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: left;
	margin-right: -3px;
	width: 250px;
	margin-left: -250px;
	position: relative;
	background: #BFBCB9;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	margin: -100px auto 0;
	min-width: 1000px;
	height: 100px;
	
	position: relative;
}

#divselrec select {width:250px;}

#maintrdiv {border:1px black solid; padding:10px; margin-bottom:10px;}
#tblsetting {margin-bottom:15px;}
#tblsetting  td {padding:0 10px;  vertical-align: top;}

@media only screen  and   (min-device-width : 1235px) 
		{  
		#wrapper {min-width:900px; }
		#footer{min-width:900px; }
		#sideRight {margin-left: -250px; float:left; width:250px; }
		#content {padding: 0 270px 0 0;}
		#container {float: left;}
     
		
        }
	
@media only screen and    (min-device-width : 1020px) and (max-device-width : 1235px) 
		{  
		#wrapper {min-width:600px; }
		#footer{min-width:600px; }
		#sideRight {margin-left: -250px; float:left; width:250px; }
		#content {padding: 0 270px 0 0;}
		#container {float: left;}
			
        }

@media only screen and    (min-device-width : 799px) and (max-device-width : 1020px) 
		{
		#wrapper {min-width:400px; }
		#footer{min-width:400px; }
		#sideRight {margin-left: 0; float:none; width:100%; }
		#content {padding: 0 0 0 0;}
		#container {float: none;}	
				
	
        }
		
@media only screen and    (max-device-width : 799px) 
		{
        #wrapper {min-width:300px; }
		#footer{min-width:300px; }
		#sideRight {margin-left: 0;float:none; width:100%; }
		#content {padding: 0 0 0 0;}
		#container {float: none;}	
		
		}
