@import "./common/vars.scss";

.instructions {
    text-align: center;
    display: none;
    margin: auto;
    max-width: 75%;
    font-size: 1.5rem;
}

.instructions:first-child:last-child {
    display: block;
}

.nowplaying .indicator:active > * {
    transform: scale(1.25);
    transform-origin: center center;
}

.nowplaying .track:hover .indicator > * {
    color: $gray-hover;
}

.nowplaying .track.active .indicator > * {
    color: $indigo;
}

.nowplaying.playing .track.active .indicator .indicator-playing { display: flex; }
.nowplaying.playing .track.active:hover .indicator .indicator-pause { display: flex; }
.nowplaying.playing .track.active:hover .indicator .indicator-playing { display: none; }

.nowplaying:not(.playing) .track.active .indicator .indicator-paused { display: flex; }
.nowplaying:not(.playing) .track.active:hover .indicator .indicator-play { display: flex; }
.nowplaying:not(.playing) .track.active:hover .indicator .indicator-paused { display: none; }

.track:not(.active):hover .indicator .indicator-play { display: flex; }

.nowplaying {
    display: flex;
    flex-direction: column;
}

.indicator {
    padding-right: -1rem;
    cursor: pointer;
}

.indicator > * {
    color: white;
    display: none;
    transition: all 75ms ease;
}
