html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.24);
    max-width: 26rem;
    max-height: 40rem;
    width: 100%;
    height: 100%;
}

.dropdown {
    background: white;
    border-radius: 3px;
    position: absolute;
    left: calc(100% - 0.5rem);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-1rem) translateX(-100%);
    transition: all 250ms ease; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.24);
    white-space: nowrap;
}

.dropdown--antidrop {
    position: absolute;
    min-height: 1rem;
    min-width: 1rem;
    transform: scale(999);
    pointer-events: none;
    transition: background 250ms ease;
}

.dropdown__active ~ .dropdown--antidrop {
    pointer-events: all;
    background: rgba(0, 0, 0, 0.1);
}

.dropdown__active {
    opacity: 1;
    transform: translateY(0) translateX(-100%);
    pointer-events: all;
}

.dropdown--action {
    padding: 0.5rem 1rem;
    color: black;
    font-size: 1rem;
}

.dropdown--action:hover {
    background: rgba(0, 0, 0, 0.1);
}

.dropdown--action:active {
    background: rgba(0, 0, 0, 0.2);
}

.entry {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.entry--main {
    padding: 1rem;
    flex: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.entry--main:last-child {
    border-right: none;
}

.entry--main__action {
    cursor: pointer;
}

.entry--action {
    color: #f44336;
    padding: 1rem;
    min-width: 1rem;
    max-width: 1rem;
    display: flex;
    justify-content: center;
}

.entry--action__action {
    cursor: pointer;
}

.entry--asana-count {
    padding: 1rem;
    color: #cccccc;
}

.entry--asana-count__nonzero {
    color: #3f51b5; 
}

.entry--main__action,
.entry--action__action {
    transition: background 100ms ease;
}

.entry--main__action:hover, 
.entry--action__action:hover {
    background: #dddddd;
}

.entry--main__action:active,
.entry-action__action:active {
    background: #bbbbbb;
}

.nowplaying {
    display: flex;
    flex-direction: column;
}

.tabs {
    justify-content: stretch;
    align-items: stretch;
    font-size: 1rem;
}

.tabs--tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 1rem;
    cursor: pointer;
}

.tabs--tab__active {
    color: #ffffff;
}

.tabs--tab__inactive {
    color: #cccccc;
}

.toolbar {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    color: #ffffff;
    background: #3f51b5;
}

.toolbar:not(.tabs) {
    z-index: 1;
}

.toolbar__shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.toolbar--button {
    display: flex;
    padding: 1rem;
    min-width: 1rem;
    max-width: 1rem;
    cursor: pointer;
    position: relative;
}

.toolbar--text {
    flex: 1;
    margin-left: 1rem;
    margin-right: 1rem;
}

.toolbar--text:first-child  {
    margin-left: 1rem;
}

.toolbar--text:last-child {
    margin-right: 1rem;
}

.view {
    display: flex;
    flex-direction: column;
}

/* Utility Classes */ 

.danger {
    color: #f44336;
}

.scroll-y {
    overflow-y: scroll;
}