html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.24);
    max-width: 26rem;
    max-height: 40rem;
    width: 100%;
    height: 100%;
}

.dropdown {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    left: 100%;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    transform: translateX(-100%);
}

.dropdown--actions {
    border-radius: 3px;
    margin-right: 0.5rem;
    margin-top: 1rem;
    background: white;
    opacity: 0;
    transition: all 250ms ease;
    transform-origin: top right;
    transform: scale(0);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.dropdown__active > .dropdown--actions {
    opacity: 1;
    transform: scale(1);
}

.dropdown__active {
    pointer-events: all;
}

.dropdown--action {
    padding: 0.5rem 1rem;
    color: black;
    font-size: 1rem;
    white-space: nowrap;
}

.dropdown--action:hover {
    background: rgba(0, 0, 0, 0.1);
}

.dropdown--action:active {
    background: rgba(0, 0, 0, 0.2);
}

.entry {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.entry--open > i {
    transition: transform 125ms ease;

}

.entry.entry__open > .entry--main > .entry--open > i {
    transform: rotate(180deg);
}

.entry--content {
    visibility: hidden;
    height: 0;
}

.entry-asana--steps {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.5);
}

.entry-asana--step {
    display: flex;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    padding: 0.25rem;
}

.entry-asana--step:last-child {
    border-bottom: none;
}

.entry-asana--step--icon,
.entry-asana--step--count {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    padding-right: 0.5rem;
}

.entry.entry__open > .entry--content {
    visibility: visible;
    height: auto;
}

.entry--main {
    display: flex;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.entry--main > * {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.entry--content {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.entry--text {
    padding: 1rem;
    flex: 1;
}

.entry--main > *:last-child {
    border-right: none;
}

.entry--text__action {
    cursor: pointer;
}

.entry--action {
    color: #f44336;
    padding: 1rem;
    min-width: 1rem;
    max-width: 1rem;
    display: flex;
    justify-content: center;
}

.entry--action__action {
    cursor: pointer;
}

.entry--asana-count {
    padding: 1rem;
    color: #cccccc;
}

.entry--asana-count__nonzero {
    color: #3f51b5; 
}

.entry--text__action,
.entry--action__action {
    transition: background 100ms ease;
}

.entry--text__action:hover, 
.entry--action__action:hover {
    background: #dddddd;
}

.entry--text__action:active,
.entry-action__action:active {
    background: #bbbbbb;
}

.nowplaying > .entry {
    cursor: pointer;
}

.entry-nowplaying--indicator {
    margin-right: -1rem;
}

.entry-nowplaying--indicator > * {
    color: white;
    display: none;
    transition: all 75ms ease;
}

.nowplaying > .entry:active > .entry-nowplaying--indicator > * {
    transform: scale(1.25);
    transform-origin: center center;
}

.nowplaying > .entry:hover > .entry-nowplaying--indicator > * {
    color: #dddddd;
}

.nowplaying > .entry.entry-nowplaying__active > .entry-nowplaying--indicator > * {
    color: #3f51b5;
}

.nowplaying__playing > .entry.entry-nowplaying__active > .entry-nowplaying--indicator > .entry-nowplaying--indicator--playing { display: flex; }
.nowplaying__playing > .entry.entry-nowplaying__active:hover > .entry-nowplaying--indicator > .entry-nowplaying--indicator--pause { display: flex; }
.nowplaying__playing > .entry.entry-nowplaying__active:hover > .entry-nowplaying--indicator > .entry-nowplaying--indicator--playing { display: none; }

.nowplaying:not(.nowplaying__playing) > .entry.entry-nowplaying__active > .entry-nowplaying--indicator > .entry-nowplaying--indicator--paused { display: flex; }
.nowplaying:not(.nowplaying__playing) > .entry.entry-nowplaying__active:hover > .entry-nowplaying--indicator > .entry-nowplaying--indicator--play { display: flex; }
.nowplaying:not(.nowplaying__playing) > .entry.entry-nowplaying__active:hover > .entry-nowplaying--indicator > .entry-nowplaying--indicator--paused { display: none; }

/*.nowplaying__playing > .entry:not(.entry-nowplaying__active) > .entry-nowplaying--indicator > .entry-nowplaying--indicator--paused { display: flex; };*/
/*.nowplaying__playing > */ .entry:not(.entry-nowplaying__active):hover > .entry-nowplaying--indicator > .entry-nowplaying--indicator--play { display: flex; }
/*.nowplaying__playing > .entry:not(.entry-nowplaying__active):hover > .entry-nowplaying--indicator > .entry-nowplaying--indicator--paused { display: none; }*/

/* .nowplaying > .entry:active > .entry-nowplaying--indicator {
    transform: scale(1.25);
}

.entry-nowplaying--indicator {
    color: white;
    transform-origin: center center;
    transition: all 65ms ease;
    margin-right: -1rem;
}

.entry-nowplaying--indicator {
    visibility: hidden;
}

.nowplaying > .entry:hover > .entry-nowplaying--indicator {
    visibility: visible;
    color: #dddddd;
}

.nowplaying > .entry.entry-nowplaying__active > .entry-nowplaying--indicator {
    visibility: visible;
    color: #3f51b5;
} */


.nowplaying {
    display: flex;
    flex-direction: column;
}

.tabs {
    justify-content: stretch;
    align-items: stretch;
    font-size: 1rem;
}

.tabs--tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.tabs--tab:hover {
    background: rgba(0, 0, 0, 0.1);
}

.tabs--tab:active {
    background: rgba(0, 0, 0, 0.2);
}

.tabs--tab__active {
    color: #ffffff;
}

.tabs--tab__inactive {
    color: #cccccc;
}

.toolbar {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: max-content;
    font-size: 1.5rem;
    color: #ffffff;
    background: #3f51b5;
}

.toolbar:not(.tabs) {
    z-index: 1;
}

.toolbar__shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.toolbar__shadow-top {
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.24), 0 -1px 2px rgba(0, 0, 0, 0.24);
}

.toolbar--timer {
    margin-top: 2px;
    font-size: 1rem;
}

.toolbar--button {
    display: flex;
    justify-content: center;
    padding: 1rem;
    min-width: 1rem;
    max-width: 1rem;
    cursor: pointer;
    position: relative;
}

.toolbar--button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.toolbar--button:active {
    background: rgba(0, 0, 0, 0.2);
}

.toolbar--text {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.toolbar--text:first-child  {
    margin-left: 1rem;
}

.toolbar--text:last-child {
    margin-right: 1rem;
}

.view {
    display: flex;
    flex-direction: column;
}

/* Utility Classes */ 

.danger {
    color: #f44336;
}

.scroll-y {
    overflow-y: scroll;
    flex-grow: 1;
}