$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

@import "./ui/common/vars.scss";

.app {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: $card1;
    max-width: 26rem;
    max-height: 40rem;
    width: 100%;
    height: 100%;
}
