@import "../common/vars.scss";

.steps {
    font-size: 0.75rem;
    color: $offblack;
}

.steps .step {
    display: flex;
    border-bottom: $border-dashed;
    padding: 0.25rem;
}

.steps .step:last-child {
    border-bottom: none;
}

.steps .step .icon,
.steps .step .count {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    padding-right: 0.5rem;
}

.count {
    color: $offblack;
}

.count.nonzero {
    color: $indigo;
}
